*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* ... your existing styles */

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }

/* body{
    background-color: pink;
} */

.container{
    background-color:#fafafa;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}

.logo{
    width: 260px;
    margin-top: 2rem;
}

.MobileButton{
    position: absolute;
    margin: auto 0;
    font-size: 30px;
    top: 10px;
    right: 10px;
    background-color: #fafafa;
}

.MobileLinks{
    position: absolute;
    display: block;
    top: 50px;
    right: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100px;
}

.MobileLinks::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
}

.MobileLinks li{
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.MobileLinks a{
    text-decoration: none;
    color: #000;
}

.MobileLinks a:hover{
    color: rgb(212, 33, 9);
    cursor: pointer;
}



@media (min-width: 769px) {
    .MobileButton{
        display: none;
    }
}

.nav{
    margin-top: 1.5rem;
}

.nav-list{
    display: flex;
}

.nav-items{
    margin-right: 3rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color:  #171718;
    text-decoration: none;
    transition: 0.4s linear;
}

.nav-items:hover{
    color: #FE5E00;
    font-size: 18px;
    font-weight:700 ;
    border-bottom: 2px solid #FE5E00;
    margin-bottom: 0;
}

.navbar h2{
    font-family: 'Lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #171718; 
    margin-top: 2rem;
    
}

.navbar h2 a{
    color: #171718;
    text-decoration: none;
}

/* .nav-items:hover,
.nav-items:active{
    
} */

.footer{
    background-color: #191D1E;
    margin-top: 2rem;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.035em;

    color: #FFFFFF;
}

.footer span .icons{
    background-color: #FE5E00;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 30px;
    margin-inline-end: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer h6{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .nav-list{
        display: none;
    }

    .mobileLogo{
        display: none;
    }

    .menu-close {
        display: block;
    }

    ul{
        list-style: none;
    }

    a{
        text-decoration: none;
    }

    .nav-list{
        display: none;
    }

    .navbar{
        margin: 0;
        display: flex;
        margin-left: 25px;
    }

    .navbar h2{
        font-size: 16px;
    }

    .footer h6{
        font-size: 15px;
        line-height: 20px;
    }
}
