.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
  }
  
  
  .sidebar.open {
    width: 250px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 16px;
    color: black;
  }
  .mobile-menu-icon {
    left: 20px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 2;
    display: none;
    margin-top: 2rem;
    background-color: #FE5E00;
    height: 50px;
    padding: 0.7rem;
    border-radius: 8px;
  }
  
  .dropdown{
    width: 200px;
    /* margin: 100px auto; */
    user-select: none;
    position: relative;
    display: block;
    margin-left: 2rem;
  }
  
  .dropdown .dropdown-btn{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #171718;
    opacity: 0.8;
  }
  
  .dropdown .dropdown-btn:hover{
    color: #FE5E00;
  }
  
  .dropdown .dropdown-btn span{
    font-size: 30px;
    margin-left: 2rem;
    margin-top: 0.2rem;
  }
  
  .dropdown .dropdown-content{
    position: relative;
    top: 110%;
    left: 0;
    /* background: #fff; */
  }
  .dropdown .dropdown-content,
  .dropdown .dropdown-content span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: rgba(23, 23, 24, 0.6);
  
  }
  .dropimage{
  width: 20px;
  }
  
  .dropdown .dropdown-content,
  .dropdown .dropdown-content span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: rgba(23, 23, 24, 0.6);
  
  }
  
  
  .dropdown .dropdown-content .dropdown-item{
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.2s;
    display: grid;
    grid-template-columns: 0.175fr 1fr;
  }
  
  
  .dropdown-image{
    width: 20px;
    margin-top: 2px;
  }
  
  .dropdown-item {
   fill: #656689;
  }
  
  
  
  @media (max-width: 768px) {
    .mobile-menu-icon{
      display: block;
    }
  }