/* src/components/MobileSidebar.css */
.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1;
}

.sidebar.open {
  width: 250px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 16px;
  color: white;
}

.mobile-menu-icon {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  z-index: 2;
  display: none;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .mobile-menu-icon{
    display: block;
  }
}